@tailwind base;
@tailwind components;
@tailwind utilities;

/* #root{
  background-image: url("./assets/360/world.png");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
} */

.main{
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
}

.optone{
  position: absolute;
  z-index: 50;
  background-color: black;
  height: 100vh;
  width: 100vw;
  opacity:  .4;
}

.opt{
  position: absolute;
  z-index: 0;
  background: url('./assets/main-img.jpeg');
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: auto;
}


.addbtn{
  background-image: url("./assets/add.png");
  background-size: cover;
  width: 30px;
  height:  30px;
}
.removebtn{
  background-image: url("./assets/remove.png");
  background-size: cover;
  width: 30px;
  height:  30px;
}

.todoremovebtn{
  background-image: url("./assets/remove.png");
  background-size: cover;
  width: 25px;
  height:  25px;
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
