@tailwind base;
@tailwind components;
@tailwind utilities;

.main{
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
}

.optone{
  position: absolute;
  z-index: 50;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 100vw;
  opacity:  .7;
}

.opt{
  position: absolute;
  z-index: 0;
  background: url('./assets/main.png');
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
}


.addbtn{
  background-image: url("./assets/add.png");
  background-size: cover;
  width: 30px;
  height:  30px;
}
.removebtn{
  background-image: url("./assets/remove.png");
  background-size: cover;
  width: 30px;
  height:  30px;
}

.todoremovebtn{
  background-image: url("./assets/remove.png");
  background-size: cover;
  width: 25px;
  height:  25px;
}
